* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --background-color: #f0f0f0;
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-color: #333333;  

    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--background-color);
}